.container {
    text-align: center;
    background-color: #20232A;
    color: #fff;
    margin-top: -1em;
    padding: 1em 0 1em 0;
}

.header-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2px;
    font-size: calc(15px + 10%);
}

@media screen and (max-width: 768px) {
    .header-items {
        font-size: 0.75rem;
    }
}

ul.header-items li {
    list-style: none;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #233142;
}

.link {
    color: #fff;
    text-decoration: none;
}

.active {
    color: rgb(83, 154, 182);
    text-decoration: none;
}

.btn-logout {
    border: none;
    color: #fff;
    background-color: transparent;
}

.btn-transparent {
    border: none;
    color: #fff;
    background-color: transparent;
    font-size: calc(15px + 10%);
}