ul.product-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
}

ul.product-items li {
    list-style: none;
}

ul.product-items li img {
    width: 40%;
    text-align: center;
}

.btn-purchase {
    background-color: #56CCF2;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}