.App {
  text-align: center;
}

.cart {
  padding: 15px 25px;
  margin-top: 4rem;
  margin-bottom: -4rem;
  background-color: #20232A;
  font-weight: 500;
  border: 2px solid #56CCF2;
  box-shadow: 0 2px 2px 0 #20232A;
  border-radius: 20px;
  color: #fff;
}